# !pip install selenium

In [1]:
#: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This

In [5]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
import warnings
warnings.filterwarnings('ignore')

In [6]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [7]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.naukri.com/ ');
time.sleep(5)

In [8]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("data analyst")

In [9]:
#finding element for location
search_field_loc=driver.find_element_by_xpath(" /html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_loc.send_keys("banglore")

In [10]:
#finding element for search bar

search = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
driver.execute_script("arguments[0].click();", search)

In [11]:
job_titles=[]
company_name=[]
location_name=[]

In [12]:
#extracting all tags having job title
titles_tags=driver.find_elements_by_xpath("//a[@ class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="e963a87f-b113-408f-89bb-c5e54446ba20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="5e420a90-a472-4304-9977-8b839b0b6e26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="b4b0dc53-6d08-471d-890e-4a107640b2de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="90c93f61-c0fb-4095-9a46-a003c920d306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="d8b50b94-38bc-46ee-b5eb-054368ee2429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="38984800-3da4-4a63-871f-7943bd11473f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="ecd27d64-bceb-4f05-892e-a9156ab6edd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="72dbdf6d-be34-435c-85c1-82f4fe77ab4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="5a57e538-5a14-41e6-886c-46c785b42f34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="0e54f418-63c1-4de3-aaa1-09c66b52f228")>]

In [13]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'TA Data Analyst',
 'Senior Data Analyst',
 'Hiring For Data Analyst',
 'Business Analyst / Data Analyst',
 'Data Analyst']

In [14]:
#extracting all tags having company title
company_tags=driver.find_elements_by_xpath("//a[@ class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="ae7e7156-45fe-4e50-b439-2b585c23fabd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="4e10c805-47ac-450e-ba43-27bf45beff7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="e13cc3a6-b7ec-4677-8d05-6a62696fdbd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="9bd650a5-6bba-4e88-ad60-2467115e7da2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="618ff221-4b55-44ba-b75b-ee1649da4e85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="827027b3-3979-416e-8170-1808ff293b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="8a84b053-4afd-4c14-8e62-f1adb005f0d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="a4d982fb-caf8-41b3-b2e8-b9e586a9d36f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="6e7e8efc-5cfd-48a3-9d2d-aa0dce1b90b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="f5cd18bc-ed82-4ad4-8663-949a669c8c58")>]

In [15]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'PharmEasy',
 'Accenture',
 'Accenture',
 'Novo Nordisk India',
 'GAME SHOW NETWORK',
 'Taikee',
 'cliqhr.com',
 'Plum']

In [16]:
#extracting all tags having location title
location_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="b483a663-73c1-4af8-aa42-ab0633dedaeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="58f0379d-80b5-4142-91bb-d862459ed3bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="34e4b65c-5772-4dc4-8b73-0db64ad3dc9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="65ae335f-1357-488f-a03a-df4895fc358f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="a0f75449-dc78-4517-be3a-f5e2a8ec5eaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="e1a8719a-cf24-433c-bfda-c72b62cb5aa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="9d178007-8c52-4510-b4f8-d8ac87d2b436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="d75c713e-7210-4764-904d-4d5bd866b7b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="0874e152-da41-4215-b079-ac76e6dd22e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="22364b1edf1f2f96cee7e61f194f761f", element="c7286d9b-5aca-43c0-a09c-fec3997318e7")>]

In [17]:
for i in location_tags:
    location=i.text
    location_name.append(location)
location_name[0:10]

['Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
print(len(job_titles),len(company_name),len(location_name))

20 20 20

In [20]:
jobs=pd.DataFrame({'title':job_titles,'company':company_name,'location':location_name})

In [23]:
jobs.head(10)

,title,company,location
0,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru
1,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
2,Data Analyst,PharmEasy,Bangalore/Bengaluru
3,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru
4,Data Analytics and Interpretation Business Ana...,Accenture,Bangalore/Bengaluru
5,TA Data Analyst,Novo Nordisk India,Bangalore/Bengaluru
6,Senior Data Analyst,GAME SHOW NETWORK,Bangalore/Bengaluru
7,Hiring For Data Analyst,Taikee,Bangalore/Bengaluru
8,Business Analyst / Data Analyst,cliqhr.com,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
9,Data Analyst,Plum,Bangalore/Bengaluru

In [ ]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [24]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
import warnings
warnings.filterwarnings('ignore')

In [25]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [26]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.naukri.com/ ');
time.sleep(5)

In [27]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("data scientist")

In [28]:
#finding element for location
search_field_loc=driver.find_element_by_xpath(" /html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_loc.send_keys("banglore")

In [29]:
#finding element for search bar

search = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
driver.execute_script("arguments[0].click();", search)

In [31]:
job_titles=[]
company_name=[]
location_name=[]

In [32]:
#extracting all tags having job title
titles_tags=driver.find_elements_by_xpath("//a[@ class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="1ce294a7-003e-4e86-8daa-68875f78049d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="87215078-47c4-4ec0-b039-03f1973e8506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="aa3a8b15-8506-46ba-b3b1-2ae92fe78e0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="6c2472ea-005e-43a7-be18-da3dea2c3692")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="33f2b938-666c-49b1-b5a3-e2787892e9c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="77349e56-787b-44de-985b-558cad75a04b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="900489cb-7606-4516-a9d4-2826a33b761a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="4c1190e5-6c60-444e-abf2-a218edc3c090")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="f6986aaf-ac92-4c47-be80-23a3f141e155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="59d47318-ff96-4c5f-bc80-4a076229a152")>]

In [33]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Research Associate II',
 'Research Engineer: Deep Learning & Collective Intelligence',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [34]:
#extracting all tags having company title
company_tags=driver.find_elements_by_xpath("//a[@ class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="f004991d-b988-40d7-ab92-6d24b95ac2ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="8be1b02b-78de-4a76-9999-acfb4b0ada4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="594c9aa0-ec54-4d74-a0d8-ef8a8e6ca4d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="84acf6f1-c079-49d6-a78d-ff270febee5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="173726cc-362d-4499-b9ee-cb8cfb997f00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="72d6d15f-865c-4bca-a422-281696c02b3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="2d1ad83e-9622-485c-9d61-92cba174979b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="70112c2e-7622-44d1-a1b3-cd857d2d08f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="e6e21c69-29af-4100-b840-9da5bbd8634a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="a73e3710-1619-4fdc-9bbb-7fd12ddd19bf")>]

In [35]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Wipro',
 'Wipro',
 'Philips',
 'Siemens',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited',
 'UPL',
 'UPL']

In [36]:
#extracting all tags having location title
location_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="17cbf4e8-51ec-4621-afc4-ca8a38d7e172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="b875e179-ad70-4e21-9365-33cc256318e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="bb567a95-d0b5-442c-a8a9-e7623d82657a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="93a0afb4-38c2-4693-9bcc-55f466333b98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="12221a4f-cb98-4390-900b-f480ad525f1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="084b3ea0-3484-4132-bdc3-2ec5a4306888")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="e29da3ad-17bf-4bb8-8fe4-75f4b5255d28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="6576b056-b9b5-4a20-a606-c29766f776bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="0b96f6db-5a69-436e-b376-b3a9fc88fb15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="818e6ee259025e65c81f81ed2672983a", element="d8d863e7-0529-4b2a-9507-54d0131d74a7")>]

In [37]:
for i in location_tags:
    location=i.text
    location_name.append(location)
location_name[0:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [38]:
print(len(job_titles),len(company_name),len(location_name))

20 20 20

In [39]:
jobs=pd.DataFrame({'title':job_titles,'company':company_name,'location':location_name})

In [40]:
jobs.head(10)

,title,company,location
0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Research Associate II,Philips,Bangalore/Bengaluru
3,Research Engineer: Deep Learning & Collective ...,Siemens,Bangalore/Bengaluru
4,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
5,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru"
6,Data Scientist- AI/ML- R&D,EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
7,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
8,Data Scientist,UPL,"Mumbai, Bangalore/Bengaluru"
9,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"

In [ ]:
#3-scrap data from naukri.com@

In [1]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [4]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.naukri.com/ ');
time.sleep(5)

In [5]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("data scientist")

In [6]:
job_titles=[]
company_name=[]
location_name=[]
experience_years=[]
salary_drawn=[]

In [7]:
titles_tags=driver.find_elements_by_xpath("//a[@ class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="125194e7-4403-4537-84d7-37d4644818f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="cf2299f6-ea3a-4b5f-86a4-14da34e16943")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="a94ec2e4-415a-45b1-9da8-f06231cd75fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="4db587c8-2210-483d-9dec-c8e456420e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="91da40a9-8600-4d69-ab5a-c549552fd6c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="4c7b6dd0-5b2c-4846-b8ac-0c0ac2520755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="43e558b8-2d06-45ff-b79c-82dd971107d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="f9d6aec1-0bc4-40ed-93f4-2c42140261d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="5b210172-74a1-4fa9-8490-df994919f2a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="0b2344d6-fd04-46ca-8bc5-53e752f7b69d")>]

In [8]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Data Scientist -Machine Learning with Python',
 'Data Scientist - Predictive Analytics',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Internet Jobs - II',
 'Machine Learning Engineer | Data Engineer | Data Scientist',
 'Data Scientist (Python) Immediate Joiners']

In [9]:
#extracting all tags having company title
company_tags=driver.find_elements_by_xpath("//a[@ class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="f7afdb25-245a-4adf-988d-3a80885c68ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="ebf90bdf-842f-4cc5-ae87-bf66bac3c8c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="f8ea7b8e-bcbb-446e-97e0-e5793f6b111d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="618c4813-3936-4b0e-9e9e-56f2a4c3357b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="8cc54550-4ecb-4828-8a38-228b55ace2e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="e9066331-063e-45a5-ad86-22e96a29c5bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="a2315575-20fb-4fca-82f0-2fe6f02e5346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="baf404ce-d590-4d0e-a1f6-6caa9aac9ed2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="113be6f3-c53c-45b5-8dd7-a591efe2ea6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="482a4e44-8aa2-4137-bc42-c1b3d2664136")>]

In [10]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Wipro',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'Genpact',
 'Confidential',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Jobs Territory',
 'Tidyquant (OPC) Private Limited',
 'Om Software Internet Solutions Private Limited']

In [76]:
#extracting all tags having company title
location_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="f27255e3-df53-4a61-bf2a-b13747aaf111")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="5a23214e-bbdf-4c37-8126-aae9ee20c115")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="ec34b75b-3746-4ccf-8554-979f5f51953e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="27b3dafb-639f-464a-a55b-e888a49ab013")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="dabd07cf-86b1-4703-97a5-182ba4ef318c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="6b19a2c2-9492-4b1e-9de5-34ad207f3c6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="26a6854c-85aa-41ab-be2f-7ed5127d7f00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="951db901-389f-4b78-861a-03ae25f75339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="e0a482a9-9be0-4a43-b81f-080c4fa8e3ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="749e5c6d-29c8-43d4-ad95-2f07f75f01e4")>]

In [77]:
for i in location_tags:
    location=i.text
    location_name.append(location)
location_name[0:10]

['Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR(Sector-8 Noida)',
 'Noida, Pune, Ahmedabad']

In [53]:
#extracting all tags having company title
experience_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi experience']/span[1] ")
experience_tags[0:10]
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience'] //span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="de5c7df4-3356-42db-a20d-7f06f6f64af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="c409501f-4969-4714-b91d-3c96a423f03d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="590e8b37-60a7-4555-9812-c3d7a714cab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="a5b16fca-e7cd-4d57-a286-7149c1d4ed47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="5caa66bf-773b-481f-b060-d9fb79ace9e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="a9db4d51-8575-4ae0-97fb-8a0f59b78a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="53bf90b9-b60c-423b-a335-af28d2237f88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="eaacebf1-ff5e-418b-ad1f-f9afba5aa16a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="bf47495b-a31d-480e-b644-d42bc0b22715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="53ca5060-8449-4437-a1f2-5edfd8805ed2")>]

In [54]:
for i in experience_tags:
    experience=i.text
    experience_years.append(experience)
experience_years[0:10]

['Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR(Sector-8 Noida)',
 'Noida, Pune, Ahmedabad']

In [69]:
#extracting all tags having salary title
salary_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi salary']/span[1] ")
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="2311f554-b6d4-429c-a6bf-20012f591d25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="ebe31937-a42d-4d84-92e7-8175df50916c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="fcfb3c85-b7bf-407c-9521-e9fc5ec1093c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="c715c342-9d4a-4f4a-bb46-787537640c99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="9fbf0249-2270-4db9-9cd8-059f8ce8dea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="d2c15bed-4aed-4119-8967-bf7e1ef294f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="41f7cc18-79ea-40e5-a612-50c3e60aab88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="030f1a0f-5481-4a4c-b090-2af4579de66e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="70655bac-f9a6-4c44-ae58-1cf61bb48592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ca0978d3a52e21adc18d984d64906f50", element="95859c0b-5dab-4130-9da3-3c55ba73c008")>]

In [70]:
for i in salary_tags:
    salary=i.text
    salary_drawn.append(salary)
salary_drawn[0:10]

['4,00,000 - 6,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '3,50,000 - 5,00,000 PA.',
 '4,00,000 - 9,00,000 PA.']

In [78]:
print(len(job_titles),len(company_name),len(location_name),len(experience_years),len(salary_drawn))

20 20 123 260 140

In [79]:
df=pd.DataFrame({"job_title":job_titles[0:10],"company_name":company_name[0:10],"job_location":location_name[0:10],

                "experience":experience_years[0:10],"salary":salary_drawn[0:10]})

In [81]:
df.head()

,job_title,company_name,job_location,experience,salary
0,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...","Kolkata, Hyderabad/Secunderabad, Chennai, Bang...","4,00,000 - 6,00,000 PA."
1,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru","Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
2,Data Scientist -Machine Learning with Python,Genpact,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR","Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR",Not disclosed
3,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...","Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Not disclosed
4,Data Scientist - Machine learning AI,Teq Analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...","Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Not disclosed

In [ ]:
#4-Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price The

In [8]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [3]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.flipkart.com/ ');
time.sleep(5)

In [4]:
#finding element for job search bar
bar=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input ")
bar.send_keys("sunglasses")

In [22]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn

In [23]:
 B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [25]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_25b18c']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [26]:
B_name[:100]

['Mi',
 'Fastrack',
 'Mi',
 'SRPM',
 'Fastrack',
 'Elligator',
 'United Colors of Benetton',
 'PIRASO',
 'New Specs',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Mi',
 'United Colors of Benetton',
 'SUNBEE',
 'Lee Topper',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Ray-Ban',
 'United Colors of Benetton',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'New Specs',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'SRPM',
 'Mi',
 'Fastrack',
 'Mi',
 'SRPM',
 'Fastrack',
 'Elligator',
 'United Colors of Benetton',
 'PIRASO',
 'New Specs',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Mi',
 'United Colors of Benetton',
 'SUNBEE',
 'Lee Topper',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Ray-Ban',
 'United Colors of Benetton',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'New Specs',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'SRPM',
 'Mi',
 'Fastrack',
 'Mi',
 'SRPM',
 'Fastrack',
 'Elligator',
 'United Colors of Benetton',
 'PIRASO',
 'New Specs',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Mi',
 'United Colors of Benetton',
 'SUNBEE',
 'Lee Topper',
 'PIRASO',
 'ROZZETTA CRAFT']

In [27]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [28]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [29]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,Mi,"₹649₹1,19945% off",Polarized Aviator Sunglasses (Free Size),45% off
1,Fastrack,₹639₹79920% off,UV Protection Rectangular Sunglasses (Free Size),20% off
2,Mi,"₹649₹1,19945% off",Polarized Aviator Sunglasses (Free Size),45% off
3,SRPM,"₹199₹1,29984% off",UV Protection Wayfarer Sunglasses (50),84% off
4,Fastrack,₹699₹99930% off,UV Protection Wayfarer Sunglasses (Free Size),30% off
...,...,...,...,...
95,United Colors of Benetton,"₹280₹2,49588% off",Gradient Cat-eye Sunglasses (57),81% off
96,SUNBEE,"₹669₹3,70081% off","UV Protection, Polarized Wayfarer Sunglasses (...",78% off
97,Lee Topper,"₹199₹1,59987% off",Riding Glasses Wrap-around Sunglasses (Free Size),88% off
98,PIRASO,"₹264₹2,59989% off",UV Protection Rectangular Sunglasses (52),89% off
99,ROZZETTA CRAFT,"₹319₹2,59987% off",UV Protection Retro Square Sunglasses (Free Size),79% off

In [ ]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [100]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [107]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [108]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR ');
time.sleep(5)

In [112]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [ ]:
 
rating=[]
review=[]
full=[]
page_tag=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')
page=[]
pagee=0
for i in page_tag:
    page.append(i.get_attribute('href'))
while len(full)<101:
    driver.get(page[pagee])
    tag=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']")
    for i in tag:
        rating.append(i.text.split('\n')[0])
        review.append(i.text.split('\n')[1])
        full.append(i.text.split('\n')[2])
    pagee+=1

In [116]:
dataframe=pd.DataFrame()
dataframe['rating']=rating[:100]
dataframe['review']=review[:100]
dataframe['full review']=full[:100]
dataframe

,rating,review,full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Excellent,Just go for it.
96,5,Super!,This is my first ever iPhone.
97,5,Wonderful,Nice value for money good and best price I pho...
98,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
99,5,Best in the market!,Don’t expect much from front camera… especiall...

In [30]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker: 
 #       1. Brand 2. Product Description 3. Price

In [81]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [82]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [83]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.flipkart.com/ ');
time.sleep(5)

In [84]:
# finding element for job search bar
search_g= driver.find_element_by_xpath("//input[@type='text']")
search_g

In [85]:
search_g.send_keys('sneakers')

In [86]:
search_btn=driver.find_element_by_xpath("//button[@ class='L0Z3Pu']")
search_btn

In [87]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [88]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_25b18c']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [90]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [91]:
sn=pd.DataFrame({})
sn['Brand_name']=B_name[:100]
sn['P_price']=Price[:100]
sn['Pr_desc']=P_desc[:100]
sn['P_discount']=Discount[:100]

In [92]:
sn

,Brand_name,P_price,Pr_desc,P_discount
0,Numenzo,"₹474₹1,99976% off",411 Casual Sneakers For Men,76% off
1,LuvShus,₹599₹99940% off,Sneakers For Men,40% off
2,Layasa,₹399₹99960% off,Sneakers For Men,60% off
3,BRUTON,"₹279₹1,29978% off",Modern Trendy Shoes Sneakers For Men,78% off
4,URBANBOX,₹198₹99980% off,"Stylish Comfortable Lightweight, Breathable Wa...",80% off
...,...,...,...,...
95,Numenzo,₹299₹99970% off,STREET ICON M Sneakers For Men,81% off
96,Robbie jones,₹374₹99962% off,casual for men Sneakers For Men,60% off
97,Kraasa,"₹549₹1,29957% off",Sneakers For Men,58% off
98,PUMA,"₹283₹1,29978% off",Sneakers For Men,45% off
99,ASTEROID,₹199₹59966% off,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,74% off

In [63]:
#question-7)Go to the link - https://www.myntra.com/shoes Set second Price filter and  Color filter to “Black”, as shown in the below image

In [85]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [86]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [87]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.myntra.com/shoes  ');
time.sleep(5)

In [88]:
search=driver.find_element_by_xpath('/html/body/div[1]/div/div/header/div[2]/div[3]/input')
search.send_keys('sneakers')

In [94]:
search_btn=driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']")
search_btn[1].click()

In [95]:
brand=[]
desp=[]
price=[]
while True:
    brand_tag=driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//h3[@class='product-brand']")
    for i in brand_tag:
        brand.append(i.text)
    desp_tag=driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//h4[@class='product-product']")
    for i in desp_tag:
        desp.append(i.text)
    price_tag=driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//div[@class='product-price']")
    for i in price_tag:
        price.append('Rs.'+i.text.split('Rs.')[1])
    if len(price)<100:
        driver.get(driver.find_element_by_xpath("//a[@rel = 'next']").get_attribute('href'))
    else:
        break

In [97]:
dataframe=pd.DataFrame()
dataframe['Brand NAME']=brand[:100]
dataframe['Product Description']=desp[:100]
dataframe['Price']=price[:100]

In [98]:
dataframe

      Brand NAME                 Product Description      Price
0       Skechers         Men Go Walk 5 Walking Shoes   Rs. 8499
1   UNDER ARMOUR        Men UA Charged Vantage 2 Run   Rs. 7999
2           Nike                Men Basketball Shoes  Rs. 10295
3           Nike      Men React IR FK3 Running Shoes  Rs. 13995
4           Nike      Men React IR FK3 Running Shoes  Rs. 13995
..           ...                                 ...        ...
95          Nike           Women Blazer Low Sneakers   Rs. 8195
96      Skechers           Men Woven Design Sneakers   Rs. 7499
97          Geox  Men Textured Leather Driving Shoes   Rs. 9990
98          Geox  Men Textured Leather Driving Shoes  Rs. 10490
99          Geox  Men Textured Leather Driving Shoes   Rs. 9341

[100 rows x 3 columns]

In [99]:
#  Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.

In [3]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [6]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [7]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get('  https://www.amazon.in/  ');
time.sleep(5)

In [8]:
search=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptop')

In [10]:
title_laptop=[]
rating_laptop=[]
price_laptop=[]

In [13]:
for i in range(3):
    l_name=driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[1]/h2/a/span")
    rating=driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[2]/a/span")
    price =driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[1]/div/div[1]/div[1]/a/span[1]/span[2]/span[2]")
    
    
    for j  in l_name:
        title_laptop.append(j.text)
    title_laptop[:100]    
    
    
    
    for k in rating:
        rating_laptop .append(k.text)
    rating_laptop[:100] 
    
    
    for l in price:
        price_laptop.append(l.text)
    price_laptop[:100]

In [14]:
print(len(title_laptop[:100])),print(len(rating_laptop[:100])),print(len(rating_laptop[:100]))

6
6
6

(None, None, None)

In [17]:
laptop=pd.DataFrame({})
laptop['l_name']=title_laptop[:100]
laptop['price']=price_laptop[:100]
laptop['rating']=rating_laptop[:100]

In [18]:
laptop

                                              l_name   price rating
0  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990      2
1  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990      2
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990      2
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990      2
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990      2
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990      2

In [1]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. 
#You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [1]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [3]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.ambitionbox.com/   ');
time.sleep(5)

In [4]:
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [5]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_btn.send_keys('noida')

In [6]:
job=[]
company_name=[]
location_name=[]
job_time=[]

In [8]:


for i in range(3):
    title_name=driver.find_elements_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]")
    company=driver.find_elements_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[2]/div[2]/div/p")
    rating =driver.find_elements_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[2]/div/div/a[1]/span")
    days =driver.find_elements_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[3]/span[1]")
    
    for j  in title_name:
        job.append(j.text)
    job[:10]    
    
    
    
    for k in company:
        company_name .append(k.text)
    company_name[:10] 
    
    
    for l in rating:
        location_name.append(l.text)
    location_name[:10] 
    
    
    for m in days:
        job_time.append(m.text)
    job_time[:10]

In [10]:
sl=pd.DataFrame({})
sl['name']=title_name[0:10]
sl['company']=company_name[0:10]
sl['rating']=location_name[0:10]
sl['days']=job_time[0:10]

ValueError: Length of values (3) does not match length of index (1)

In [ ]:
#10-Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [7]:
from selenium import webdriver
import pandas as pd
import selenium
import numpy as np
import time
import warnings
warnings.filterwarnings('ignore')

In [47]:
driver=webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')

In [48]:
driver = webdriver.Chrome(r'C:\Users\sandeep\.jupyter\webdrv\chromedriver')  # Optional argument, if not specified will search path.
driver.get(' https://www.ambitionbox.com/   ');
time.sleep(5)

In [53]:
)

In [80]:
company=[]
total_salary=[]
min_salary=[]
max_salary=[]
avg_salary=[]
experience=[]

In [81]:
for i in range(3):
    com=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[1]/a")
    tot=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[1]/span")
    mins =driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[1]")
    maxs =driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]")
    av =driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[1]/div/p")
    exp =driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[2]")
    
    
    for j  in com:
        company.append(j.text)
    company[:10]    
    
    
    
    for k in tot:
        total_salary .append(k.text)
    total_salary[:10] 
    
    
    for l in mins:
        min_salary.append(l.text)
    min_salary[:10] 
    
    
    for m in maxs:
        max_salary.append(m.text)
    max_salary[:10] 
    
    for m in av:
        avg_salary.append(m.text)
    avg_salary[:10] 
    
    for m in exp:
        experience.append(m.text)
    experience[:10]

In [82]:
#print(len(company),len(total_salary),len(min_salary))

In [83]:
sl=pd.DataFrame({})
sl['company_name']=company[0:10]
sl['mins']=min_salary[0:10]
sl['maxs']=max_salary[0:10]
sl['av']=avg_salary[0:10]
sl['tot']=total_salary[0:10]
sl['exp']=experience[0:10]

In [84]:
sl.head(10)

,company_name,mins,maxs,av,tot,exp
0,Walmart,₹ 25.0L,₹ 36.0L,₹ 30.2L,based on 12 salaries,Data Scientist\n . \n3 yrs exp
1,Walmart,₹ 25.0L,₹ 36.0L,₹ 30.2L,based on 12 salaries,Data Scientist\n . \n3 yrs exp
2,Walmart,₹ 25.0L,₹ 36.0L,₹ 30.2L,based on 12 salaries,Data Scientist\n . \n3 yrs exp